body{
    
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    align-items: center;
    justify-content: center;
    display:flex
    
}
h1,h2,h3,h4,h5,h6{
    font-weight: 900;
    color: black
    
    
}
p{
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif

}
.pacote{

    width: 100%;
    margin: 0 auto;

}
main{
    display: block;
    background-color: rgb(255, 255, 255);
}
.container-texto{

    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
    
}

section.module p{

    margin-bottom: 40px;

}
section.module :last-child{

    margin-bottom: 0;
}
section.module h2{

    margin-bottom: 40px;
    font-size: 30px;
}
section.module.parallaxcontainer{

    background: linear-gradient(to right, #0098c7, #7e018f);
    padding: 40px 0;
    border: 8px solid black;

}
section.module.parallax-1-foto{

    display: flex;
    flex-direction:column ;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-image: url(https://wallpapercave.com/wp/9pGfWLO.jpg);

}
section.module.parallax-1-foto h1{
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}    
/*"Tekoásite"*/
section.module.parallax-1-foto:after{

    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 0%, #000000 150%  );
}
/*Sonhos conquitados e onde estou agora e como me organizei pra fazê-los (colocar uma imagem de programação(E de um projeto de jogo) e */
section.module.parallax-2-foto{

    background-image: url(https://images.wallpaperscraft.com/image/single/code_programming_it_152538_1920x1080.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-attachment: fixed;
}

section.module.parallax-2-foto:after{

    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 0%, #000 150%  );
}    

section.module.parallax-2-foto h1{
    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}    
/*Obstaculos que tive(preguiça, procrastinação bla bla bla*/

section.module.parallax-3-foto{

    background-image: url(https://forum.godotengine.org/uploads/default/original/3X/a/d/ad306df4e8fce5ca98bed2409066f9b4645922c8.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-attachment: fixed;
}
section.module.parallax-3-foto:after{

    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 0%, #000 150%  );
}  
section.module.parallax-3-foto h1{

    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}    

/*4444444444444444*/
section.module.parallax-4-foto{

    background-image: url(https://miro.medium.com/v2/resize:fit:1400/1*CI5KK3rIslwvmu1QcfFi0A.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-attachment: fixed;
}
section.module.parallax-4-foto:after{

    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 0%, #000 150%  );
}  
section.module.parallax-4-foto h1{

    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}    
/* 5555555*/
section.module.parallax-5-foto{

    background-image: url(https://wallpapers.com/images/hd/mom-and-dad-sunset-hiking-xhxcxdpb5wmg3vev.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-attachment: fixed;
}
section.module.parallax-5-foto:after{

    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 0%, #000 150%  );
}  
section.module.parallax-5-foto h1{

    font-size: 64px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}  